@media only screen and (max-width: 768px) {
  body .aboutunderbanner {
    width: 100%;
  }
  body .aboutunderbanner h1 {
    font-size: var(--r3);
    text-align: center;
  }
  body .aboutunderbanner p {
    width: 95%;
    font-size: var(--r2);
    text-align: center;
    margin: 0 auto var(--r2) auto;
  }
  body .aboutdistribution p {
    font-size: var(--r3);
  }
  body .aboutdistribution {
    width: 100%;
  }
  body .aboutdistribution > div {
    width: 100%;
  }
  body .aboutdot {
    width: 2.5%;
  }
  body .aboutvalues h1 {
    font-size: var(--r3);
    text-align: center;
  }
  body .aboutvalues p {
    font-size: var(--r2);
  }
  body .aboutvalues > div {
    width: 100%;
  }
  body .aboutvalues > div svg {
    width: 70%;
    display: block;
    margin: auto;
  }
  body .aboutcertificates {
    width: 100%;
  }
  body .aboutcertificates h1 {
    font-size: var(--r3);
  }
  body .aboutcertificates p {
    width: 95%;
    font-size: var(--r2);
  }
  body .aboutcertificates > div > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .aboutcertificates > div > div > div {
    width: 45%;
  }
  body .aboutcertificates img {
    width: 80%;
  }
  body .aboutcertificates p li {
    margin-left: var(--r3);
  }
  body .aboutmission p {
    width: 90%;
    font-size: var(--r2);
  }
}
@media only screen and (max-width: 550px) {
  body .aboutfactory > div {
    width: 100%;
  }
  body .aboutdistribution {
    width: 100%;
  }
  body .aboutdot span {
    width: calc(var(--r4) * 2);
  }
  body .aboutvalues > div {
    width: 100%;
  }
  body .aboutmission p {
    width: 90%;
  }
}
.aboutwrap {
  position: relative;
}
.aboutunderbanner {
  width: 80%;
  display: block;
  margin: 0 auto var(--r2) auto;
}
.aboutunderbanner h1 {
  display: block;
  margin: auto;
  color: #012060;
  font-size: calc(var(--r101) * 2);
  font-family: "Raleway", sans-serif;
  text-align: left;
}
.aboutunderbanner p {
  display: block;
  width: 100%;
  text-align: left;
  text-align-last: center;
  font-size: var(--r103);
  color: rgb(28, 28, 28);
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  font-weight: bold;
}
.aboutfactory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto var(--r2) auto;
}
.aboutfactory > div {
  width: 45%;
}
.aboutfactorytxt p b {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.aboutfactorytxt p {
  display: block;
  max-width: fit-content;
  margin: auto;
  margin-bottom: var(--r2);
  font-size: var(--r3);
  text-align: center;
  color: #012060;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.aboutfactorytxt a:hover {
  background-color: #126196;
  color: whitesmoke;
}
.aboutfactorytxt a {
  font-size: var(--r105);
  display: block;
  max-width: fit-content;
  margin: var(--r1) auto;
  text-decoration: none;
  text-align: center;
  background: #00395f;
  border-radius: 5%;
  color: white;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: var(--r1);
}
.aboutfactoryimg {
  border-radius: 5%;
}
.aboutfactoryimg img {
  width: 100%;
  border-radius: 5%;
}
.aboutdistribution {
  width: 100%;
  display: block;
  margin: 0 auto var(--r2) auto;
  padding: 0;
  overflow: hidden;
}
.aboutdistribution > div {
  position: relative;
  width: 90%;
  margin: auto;
}
.aboutdistribution p {
  display: block;
  max-width: fit-content;
  margin: 0 auto var(--r2) auto;
  font-size: calc(var(--r101) * 2);
  text-align: center;
  color: #012060;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
.aboutwmap {
  display: block;
  margin: auto;
  width: 100%;
}
.aboutdot {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 1.8%;
  z-index: 24;
}
.aboutdot span {
  width: calc(var(--r3) * 2);
  position: absolute;
  visibility: hidden;
  background-color: #126196;
  color: #fff;
  font-size: var(--r102);
  text-align: center;
  border-radius: 10%;
  padding: var(--r05) 0;
  z-index: 26;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  transition-property: all;
  transition-timing-function: ease;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
@keyframes ezhar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.aboutdot span::after {
  transform: translate(-50%, 0);
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #126196 transparent transparent transparent;
}
.aboutdot img {
  width: 100%;
  z-index: 25;
}
.aboutdot:hover span {
  visibility: visible;
  animation-name: ezhar;
  cursor: pointer;
}
.aboutdot:hover {
  cursor: pointer;
  width: 3%;
  z-index: 25;
}
.aboutdot1 {
  top: 31%;
  left: 46.6%;
}
.aboutdot2 {
  top: 24.24%;
  left: 49.4%;
}
.aboutdot3 {
  left: 75%;
  top: 46%;
}
.aboutdot4 {
  left: 59.08%;
  top: 38.6%;
}
.aboutdot5 {
  left: 58.6%;
  top: 51.5%;
}
.aboutdot6 {
  left: 58.8%;
  top: 45.67%;
}
.aboutdot7 {
  left: 62.5%;
  top: 48.5%;
}
.aboutdot8 {
  left: 61.68%;
  top: 54%;
}
.aboutdot9 {
  left: 54.4%;
  top: 48.5%;
}
.aboutdot10 {
  left: 47.6%;
  top: 48.1%;
}
.aboutdot11 {
  left: 54.8%;
  top: 55%;
}
.aboutdot12 {
  left: 51.8%;
  top: 56.7%;
}
.aboutdot13 {
  left: 48.6%;
  top: 58.36%;
}
.aboutdot14 {
  left: 56.6%;
  top: 73.3%;
}
.aboutdot15 {
  left: 57%;
  top: 69.1%;
}
.aboutdot16 {
  left: 82%;
  top: 43.9%;
}
.aboutdot17 {
  left: 60%;
  top: 49.1%;
}
.aboutdot18 {
  left: 61%;
  top: 50.6%;
}
.aboutdot19 {
  left: 62%;
  top: 51.1%;
}
.aboutdot20 {
  left: 49.5%;
  top: 52.1%;
}
.aboutdot21 {
  left: 51%;
  top: 63.1%;
}
.aboutdot22 {
  left: 54.27%;
  top: 70.1%;
}
.aboutvalues {
  width: 95%;
  margin: 0 auto var(--r2) auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.aboutvalues > div {
  width: 40%;
}
.aboutvalues h1 {
  color: #012060;
  font-size: calc(var(--r101) * 2);
  font-family: "Raleway", sans-serif;
}
.aboutvalues p {
  color: #232323;
  font-size: var(--r105);
  font-family: "Raleway", sans-serif;
}
.aboutbotr,
.aboutbotl,
.abouttopl,
.abouttopr,
.aboutmiddle {
  cursor: pointer;
}
.aboutcertificates {
  width: 90%;
  display: block;
  margin: 0 auto var(--r2) auto;
}
.aboutcertificates h1 {
  display: block;
  margin: 0 auto var(--r2) auto;
  color: #012060;
  font-size: calc(var(--r101) * 2);
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.aboutcertificates > div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}
.aboutcertificates > div > div {
  width: 45%;
}
.aboutcertificates img {
  width: 70%;
  display: block;
  margin: auto;
}
.aboutcertificates p {
  color: #232323;
  font-size: var(--r105);
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.aboutcertificates p li {
  text-align: left;
  list-style-type: none;
}
.aboutmission {
  width: 100%;
  position: relative;
  margin: 0 auto var(--r2) auto;
  background-image: url("/missionbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(var(--r5) * 5);
}
.aboutmission > div {
  position: absolute;
  display: inline;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(128, 128, 128, 0.2);
  z-index: 1;
}
.aboutmission p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  display: block;
  margin: auto;
  font-size: var(--r104);
  width: 90%;
  color: white;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
