@media only screen and (max-width: 768px) {
  body .contactmap {
    width: 95%;
    margin-top: var(--r1);
  }
  body .contactinfocont {
    width: 95%;
  }
  body .contactinfo {
    margin: 0 auto var(--r2) auto;
    border-radius: var(--r08);
    width: 100%;
  }
  body .contactinfo h2 {
    font-size: var(--r2);
    margin: var(--r1) auto;
  }
  body .contactinfo > h1 {
    font-size: var(--r3);
    width: 80%;
    margin: auto;
    margin-top: var(--r1);
  }
  body .contactinfo > div > a {
    font-size: var(--r2);
  }
  body .contactinfo > div > img.phn {
    margin-top: var(--r103);
  }
  body .phoneBreak {
    display: none;
  }
  body .phoneSpace {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    color: transparent;
  }
  body .contactinfo > div > img.eml {
    margin-top: var(--r08);
  }
  body .contactinfo > div > img {
    float: unset;
    vertical-align: middle;
    width: 3.9%;
  }
  body .contactform {
    width: 100%;
  }
  body .contactcform {
    border-radius: var(--r08);
    width: 100%;
  }
  body .contactform input:nth-last-child(1) {
    width: fit-content;
    position: static;
    margin: var(--r2) auto;
  }
  body .contactform input:nth-last-child(1),
  body .contactform input,
  body .contactform textarea {
    font-size: var(--r2);
  }
  body .contactcsales {
    width: 95%;
  }
  body .contactcslsrt a {
    font-size: var(--r2);
  }
  body .contactcslslt h1 {
    font-size: var(--r3);
  }
}
/* @media only screen and (max-width: 400px) {
  body .contactmap {
    width: 90%;
    margin-top: var(--r1);
  }
  body .contactinfocont {
    width: 95%;
  }
  body .contactinfo {
    border-radius: 3%;
    width: 100%;
  }
  body .contactinfo > h1 {
    width: 80%;
    margin: auto;
    margin-top: var(--r1);
  }
  body .contactinfo > div > a {
    font-size: var(--r101);
  }
  body .contactinfo > div > img.lctn {
    margin-top: calc(var(--r1) * -1);
  }
  body .contactinfo > div > img.phn {
    margin-top: var(--r103);
  }
  body .contactinfo > div > img.eml {
    margin-top: var(--r05);
  }
  body .contactinfo > div > img {
    width: 6%;
  }
  body .contactcform {
    border-radius: 3%;
    width: 100%;
    margin: auto;
    margin-top: var(--r1);
  }
  body .contactform input:nth-last-child(1) {
    font-size: var(--r101);
    bottom: 2%;
  }
  body .contactcsales {
    width: 70%;
  }
  body .contactcslsrt a {
    font-size: var(--r101);
  }
}
 */
.phoneSpace {
  display: none;
}
.contactmap {
  width: 90%;
  margin: 0 auto var(--r2) auto;
}
.contactmap iframe {
  width: 100%;
  height: calc(var(--r5) * 5);
}
.contactinfocont {
  width: 90%;
  display: flex;
  margin: var(--r2) auto;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow: visible;
}
.contactinfo {
  border-radius: var(--r08);
  width: 30%;
  background-color: #00395f;
  color: white;
  padding: var(--r05);
}
.contactinfo > h1 {
  text-align: left;
  font-size: var(--r2);
  font-family: "Raleway", sans-serif;
  margin-left: var(--r1);
  margin-bottom: 0;
  padding: 0;
}
.contactinfo h2 {
  width: 100%;
  text-align: left;
  font-size: var(--r105);
  font-family: "Raleway", sans-serif;
}
.contactinfo > div {
  width: 80%;
  margin: auto;
  border-top: 1px outset whitesmoke;
  padding: var(--r05);
}
.contactinfo > div > a:hover {
  color: blue;
}
.contactinfo > div > a {
  font-size: var(--r1);
  display: inline;
  margin: 0;
  font-weight: bold;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: white;
}
.contactinfo > div > img {
  width: 10%;
  filter: invert(1);
  float: left;
  margin: var(--r1);
  margin-top: 0;
  display: inline;
  vertical-align: super;
}
.contactcform {
  width: 60%;
}
.contactform {
  display: block;
  width: 95%;
  background-color: white;
  text-align: center;
  overflow: hidden;
  border-radius: var(--r08);
  border: 1px solid #00395f;
  margin: auto;
  /* padding: var(--r1); */
  position: relative;
}
.contactform input {
  display: inline-block;
  font-size: var(--r101);
  width: 40%;
  margin: var(--r05);
  margin-top: var(--r1);
  margin-bottom: var(--r1);
  background-color: #c4dbe9;
  color: black;
  height: max-content;
  border: 1px solid grey;
  padding: 1%;
}
.contactform textarea {
  display: block;
  padding: 1%;
  width: 80%;
  margin: auto;
  margin-top: 1%;
  background-color: #c4dbe9;
  color: black;
  height: calc(var(--r2) + var(--r5));
  font-size: var(--r101);
}
.contactform input:nth-last-child(1) {
  font-size: var(--r104);
  display: block;
  text-align: center;
  cursor: pointer;
  width: 15%;
  position: absolute;
  height: max-content;
  padding: 1%;
  background-color: #00395f;
  bottom: 5%;
  left: 5%;
  border-radius: var(--r05);
  color: white;
}
.contactform input:hover {
  background-color: #a0aec9;
}
.contactcsales {
  width: 90%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto var(--r2) auto;
  height: calc(var(--r5) * 5);
  background-color: #00395f;
  border-radius: var(--r08);
  border: 0;
}
.contactcslslt {
  background-image: url("/ss.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(var(--r5) * 5);
  width: 54%;
  position: relative;
}
.contactcslslt h1 {
  font-size: calc(var(--r05) * 5);
  background: rgb(0, 0, 0, 0.7);
  width: 100%;
  color: whitesmoke;
  margin: auto;
  padding: var(--r1) 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Raleway", sans-serif;
}
.contactcslsrt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46%;
  height: calc(var(--r5) * 5);
}
.contactcslsrt a {
  text-align: center;
  display: block;
  padding-left: var(--r05);
  color: white;
  width: fit-content;
  height: 20%;
  cursor: pointer;
  text-decoration: none;
}
.contactcslsrt a:hover {
  color: blue;
}
.contactcslsrt ul {
  all: unset;
  font-size: var(--r2);
  font-family: sans-serif;
  list-style-type: circle;
  color: white;
  width: fit-content;
}
.contactcslsrt li {
  all: unset;
  height: max-content;
  width: 100%;
  display: block;
  margin: auto;
  padding: var(--r1);
}
