@media only screen and (max-width: 768px) {
  body .e1vid iframe {
    height: calc(var(--r4) * 6);
  }
}
@media only screen and (max-width: 530px) {
  body .e1main {
    flex-direction: row;
    flex-wrap: wrap;
  }
  body .e1txt,
  body .e1vid {
    width: 100%;
  }
  body .e1pics > div {
    width: 45%;
  }
  body .e1vid iframe {
    height: calc(var(--r4) * 8);
  }
}

.e1cont > h1 {
  width: 80%;
  display: block;
  font-size: var(--r3);
  text-align: center;
  color: #00395f;
  margin: auto;
  margin-top: var(--r5);
  font-family: "Raleway", sans-serif;
}
.e1main {
  display: flex;
  margin: auto;
  margin-top: var(--r5);
  width: 90%;
  align-items: flex-start;
  justify-content: space-evenly;
}
.e1txt {
  width: 40%;
}
.e1vid {
  width: 45%;
}
.e1txt p {
  display: block;
  font-size: var(--r103);
  text-align: left;
  color: #00395f;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.e1vid iframe {
  border-radius: 3%;
  width: 100%;
  height: calc(var(--r4) * 5);
}
.e1pics {
  display: block;
  margin: auto;
  margin-top: var(--r2);
  width: 90%;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.e1pics > div {
  border: 1px solid #00395f;
  border-radius: 5%;
  width: 30%;
  margin: 1% 1%;
  display: inline-flex;
  padding: 0;
  overflow: hidden;
  height: fit-content;
}

.e1img {
  all: unset;
  width: 100%;
  object-fit: cover;
  transition: 0.2s all ease-in-out;
}
.e1img:hover {
  transform: scale(120%);
  cursor: pointer;
}
