
@media only screen and (min-width: 2001px) {
    :root {
        --r05: 1rem;
        --r08: 1.6rem;
        --r1: 2rem;
        --r101: 2.2rem;
        --r102: 2.4rem;
        --r103: 2.6rem;
        --r104: 2.8rem;
        --r105: 3rem;
        --r106: 3.2rem;
        --r2: 4rem;
        --r3: 6rem;
        --r4: 8rem;
        --r5: 10rem;
    }
}
@media only screen and (max-width: 2000px) {
    :root {
        --r05: 0.75rem;
        --r08: 1.2rem;
        --r1: 1.5rem;
        --r101: 1.6rem;
        --r102: 1.7rem;
        --r103: 1.9rem;
        --r104: 2rem;
        --r105: 2.2rem;
        --r106: 2.3rem;
        --r2: 3rem;
        --r3: 4.5rem;
        --r4: 6rem;
        --r5: 7.5rem;
    }
}
@media only screen and (max-width: 1670px) {
    :root {
        --r05: 0.625rem;
        --r08: 1rem;
        --r1: 1.25rem;
        --r101: 1.3rem;
        --r102: 1.5rem;
        --r103: 1.6rem;
        --r104: 1.7rem;
        --r105: 1.8rem;
        --r106: 1.9rem;
        --r2: 2.5rem;
        --r3: 3.75rem;
        --r4: 5rem;
        --r5: 6.25rem;
    }
}
@media only screen and (max-width: 1440px) {
    :root {
        --r05: 0.5rem;
        --r08: 0.8rem;
        --r1: 1rem;
        --r101: 1.1rem;
        --r102: 1.2rem;
        --r103: 1.3rem;
        --r104: 1.4rem;
        --r105: 1.5rem;
        --r106: 1.6rem;
        --r2: 2rem;
        --r3: 3rem;
        --r4: 4rem;
        --r5: 5rem;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        --r05: 0.35rem;
        --r08: 0.56rem;
        --r1: 0.7rem;
        --r101: 0.8rem;
        --r102: 0.9rem;
        --r103: 1rem;
        --r104: 1.2rem;
        --r105: 1.3rem;
        --r106: 1.4rem;
        --r2: 1.4rem;
        --r3: 2.1rem;
        --r4: 2.8rem;
        --r5: 3.5rem;
    }
}
@media only screen and (max-width: 768px) {
    :root {
        --r05: 0.25rem;
        --r08: 0.4rem;
        --r1: 0.5rem;
        --r101: 0.55rem;
        --r102: 0.6rem;
        --r103: 0.7rem;
        --r104: 0.7rem;
        --r105: 0.75rem;
        --r106: 0.8rem;
        --r2: 1rem;
        --r3: 1.5rem;
        --r4: 2rem;
        --r5: 2.5rem;
    }
    body .e2vid iframe {
        height: calc(var(--r4) * 6);
    }
}
@media only screen and (max-width: 530px) {
    :root {
        --r05: 0.25rem;
        --r08: 0.4rem;
        --r1: 0.5rem;
        --r101: 0.8rem;
        --r102: 0.9rem;
        --r103: 1rem;
        --r104: 1.2rem;
        --r105: 1.3rem;
        --r106: 1.4rem;
        --r2: 1.4rem;
        --r3: 1.5rem;
        --r4: 2rem;
        --r5: 2.5rem;
    }
    body .e2main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    body .e2txt,
    body .e2vid {
        width: 100%;
    }
    body .e2pics > div {
    width: 45%;
}
    body .e2vid iframe {
        height: calc(var(--r4) * 8);
    }
}
@media only screen and (max-width: 400px) {
    :root {
        --r05: 0.25rem;
        --r08: 0.3rem;
        --r1: 0.5rem;
        --r101: 0.8rem;
        --r102: 0.9rem;
        --r103: 1rem;
        --r104: 1.2rem;
        --r105: 1.3rem;
        --r106: 1.4rem;
        --r2: 1.4rem;
        --r3: 1.5rem;
        --r4: 2rem;
        --r5: 2.5rem;
    }
}

.e2cont > h1 {
    width: 80%;
    display: block;
    font-size: var(--r3);
    text-align: center;
    color: #00395f;
    margin: auto;
    margin-top: var(--r5);
    font-family: "Raleway", sans-serif;
}
.e2main {
    display: flex;
    margin: auto;
    margin-top: var(--r5);
    width: 90%;
    align-items: flex-start;
    justify-content: space-evenly;
}
.e2txt {
    width: 40%;
}
.e2vid {
    width: 45%;
}
.e2txt p {
    display: block;
    font-size: var(--r103);
    text-align: left;
    color: #00395f;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}
.e2vid iframe {
    border-radius: 3%;
    width: 100%;
    height: calc(var(--r4) * 5);
}
.e2pics {
    display: flex;
    margin: auto;
    margin-top: var(--r2);
    width: 90%;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.e2pics > div {
    border: 1px solid #00395f;
    border-radius: 5%;
    width: 30%;
    margin: 1% 1%;
    display: inline-flex;
    padding: 0;
    overflow: hidden;
    height: fit-content;
}

.e2img {
    all: unset;
    width: 100%;
    object-fit: cover;
    transition: 0.2s all ease-in-out;
}
.e2img:hover {
    transform: scale(120%);
    cursor: pointer;
}
