@media only screen and (max-width: 768px) {
  body .llbltcont .llbimgcont {
    width: 30%;
  }
  body .llbltcont .llbtxtcont {
    width: 90%;
  }
  body .llbrtcont .llbimgcont {
    width: 30%;
  }
  body .llbrtcont .llbtxtcont {
    width: 90%;
  }
}
@media only screen and (max-width: 530px) {
  body .llbh1 {
    font-size: var(--r104);
  }
  body .llbltcont .llbimgcont {
    width: 45%;
    float: left;
    margin: 2%;
  }
  body .llbltcont .llbtxtcont {
    display: block;
    width: 90%;
  }
  body .llbrtcont .llbimgcont {
    margin: 2%;
    width: 45%;
    float: right;
  }
  body .llbrtcont .llbtxtcont {
    display: block;
    width: 90%;
    height: max-content;
    align-items: center;
  }
  body .llbltcont .llbtxtcont span {
    display: contents;
  }
  body .llbrtcont .llbtxtcont span {
    display: contents;
  }
}
@media only screen and (max-width: 400px) {
  body .llbh1 {
    font-size: var(--r104);
  }
  body .llbltcont .llbimgcont {
    width: 45%;
    float: left;
    margin: 2%;
  }
  body .llbltcont .llbtxtcont {
    display: block;
    width: 90%;
  }
  body .llbrtcont .llbimgcont {
    margin: 2%;
    width: 45%;
    float: right;
  }
  body .llbrtcont .llbtxtcont {
    display: block;
    width: 90%;
    height: max-content;
    align-items: center;
  }
  body .llbltcont .llbtxtcont span {
    display: contents;
  }
  body .llbrtcont .llbtxtcont span {
    display: contents;
  }
}
.llbh1 {
  margin: auto;
  text-align: center;
  color: #012060;
  font-size: var(--r2);
  font-family: "Raleway", sans-serif;
  position: relative;
}
.llbltcont a {
  display: contents;
}
.llbrtcont a {
  display: contents;
}
.llbltcont .llbimgcont {
  width: 25%;
  height: max-content;
  text-align: center;
  object-fit: contain;
}
.llbltcont .llbtxtcont {
  width: 88%;
  display: flex;
  margin: auto;
  padding: 1%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: var(--r2);
  margin-bottom: var(--r2);
  height: max-content;
  text-align: left;
  color: #121212;
  font-size: var(--r102);
  font-family: "Raleway", sans-serif;
}
.llbltcont .llbtxtcont span {
  display: block;
  max-width: 60%;
}
.llbrtcont .llbimgcont {
  width: 25%;
  height: max-content;
  text-align: center;
  object-fit: contain;
}
.llbrtcont .llbtxtcont {
  display: flex;
  margin: auto;
  width: 85%;
  padding: 1%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin-top: var(--r2);
  margin-bottom: var(--r2);
  height: max-content;
  text-align: left;
  color: #121212;
  font-size: var(--r102);
  font-family: "Raleway", sans-serif;
}
.llbrtcont .llbtxtcont span {
  display: block;
  max-width: 60%;
}
.llbrtcont strong,
.llbltcont strong,
.llbltcont b,
.llbrtcont b {
  font-family: "El Messiri", sans-serif;
  font-size: var(--r103);
  display: contents;
}
.llbgdwl {
  width: 85%;
  display: block;
  margin: auto;
}
