
@media only screen and (min-width: 2001px) {
    :root {
        --r205: 1rem;
        --r208: 1.6rem;
        --r21: 2rem;
        --r2101: 2.2rem;
        --r2102: 2.4rem;
        --r2103: 2.6rem;
        --r2104: 2.8rem;
        --r2105: 3rem;
        --r2106: 3.2rem;
        --r22: 4rem;
        --r23: 6rem;
        --r24: 8rem;
        --r25: 10rem;
    }
}
@media only screen and (max-width: 2000px) {
    :root {
        --r205: 0.75rem;
        --r208: 1.2rem;
        --r21: 1.5rem;
        --r2101: 1.6rem;
        --r2102: 1.7rem;
        --r2103: 1.9rem;
        --r2104: 2rem;
        --r2105: 2.2rem;
        --r2106: 2.3rem;
        --r22: 3rem;
        --r23: 4.5rem;
        --r24: 6rem;
        --r25: 7.5rem;
    }
}
@media only screen and (max-width: 1670px) {
    :root {
        --r205: 0.625rem;
        --r208: 1rem;
        --r21: 1.25rem;
        --r2101: 1.3rem;
        --r2102: 1.5rem;
        --r2103: 1.6rem;
        --r2104: 1.7rem;
        --r2105: 1.8rem;
        --r2106: 1.9rem;
        --r22: 2.5rem;
        --r23: 3.75rem;
        --r24: 5rem;
        --r25: 6.25rem;
    }
}
@media only screen and (max-width: 1440px) {
    :root {
        --r205: 0.5rem;
        --r208: 0.8rem;
        --r21: 1rem;
        --r2101: 1.1rem;
        --r2102: 1.2rem;
        --r2103: 1.3rem;
        --r2104: 1.4rem;
        --r2105: 1.5rem;
        --r2106: 1.6rem;
        --r22: 2rem;
        --r23: 3rem;
        --r24: 4rem;
        --r25: 5rem;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        --r205: 0.35rem;
        --r208: 0.56rem;
        --r21: 0.7rem;
        --r2101: 0.8rem;
        --r2102: 0.9rem;
        --r2103: 1rem;
        --r2104: 1.2rem;
        --r2105: 1.3rem;
        --r2106: 1.4rem;
        --r22: 1.4rem;
        --r23: 2.1rem;
        --r24: 2.8rem;
        --r25: 3.5rem;
    }
}
@media only screen and (max-width: 768px) {
    :root {
        --r205: 0.25rem;
        --r208: 0.4rem;
        --r21: 0.5rem;
        --r2101: 0.55rem;
        --r2102: 0.8rem;
        --r2103: 0.85rem;
        --r2104: 0.7rem;
        --r2105: 0.75rem;
        --r2106: 0.8rem;
        --r22: 1rem;
        --r23: 1.5rem;
        --r24: 2rem;
        --r25: 2.5rem;
    }
    body .lsb2ltcont .lsb2imgcont {
        width: 30%;
    }
    body .lsb2ltcont .lsb2txtcont {
        width: 90%;
    }
    body .lsb2rtcont .lsb2imgcont {
        width: 30%;
    }
    body .lsb2rtcont .lsb2txtcont {
        width: 90%;
    }
}
@media only screen and (max-width: 530px) {
    :root {
        --r205: 0.25rem;
        --r208: 0.4rem;
        --r21: 0.5rem;
        --r2101: 0.8rem;
        --r2102: 0.9rem;
        --r2103: 1rem;
        --r2104: 1.2rem;
        --r2105: 1.3rem;
        --r2106: 1.4rem;
        --r22: 1.4rem;
        --r23: 1.5rem;
        --r24: 2rem;
        --r25: 2.5rem;
    }
    body .lsb2h1 {
        font-size: var(--r2104);
    }
    body .lsb2ltcont .lsb2imgcont {
        width: 45%;
        float: left;
        margin: 2%;
    }
    body .lsb2ltcont .lsb2txtcont {
        display: block;
        width: 90%;
    }
    body .lsb2rtcont .lsb2imgcont {
        margin: 2%;
        width: 45%;
        float: right;
    }
    body .lsb2rtcont .lsb2txtcont {
        display: block;
        width: 90%;
        height: max-content;
        align-items: center;
    }
    body .lsb2ltcont .lsb2txtcont span {
        display: contents;
    }
    body .lsb2rtcont .lsb2txtcont span {
        display: contents;
    }
}
@media only screen and (max-width: 400px) {
    :root {
        --r205: 0.25rem;
        --r208: 0.4rem;
        --r21: 0.5rem;
        --r2101: 0.8rem;
        --r2102: 0.9rem;
        --r2103: 1rem;
        --r2104: 1.2rem;
        --r2105: 1.3rem;
        --r2106: 1.4rem;
        --r22: 1.4rem;
        --r23: 1.5rem;
        --r24: 2rem;
        --r25: 2.5rem;
    }
    body .lsb2h1 {
        font-size: var(--r2104);
    }
    body .lsb2ltcont .lsb2imgcont {
        width: 45%;
        float: left;
        margin: 2%;
    }
    body .lsb2ltcont .lsb2txtcont {
        display: block;
        width: 90%;
    }
    body .lsb2rtcont .lsb2imgcont {
        margin: 2%;
        width: 45%;
        float: right;
    }
    body .lsb2rtcont .lsb2txtcont {
        display: block;
        width: 90%;
        height: max-content;
        align-items: center;
    }
    body .lsb2ltcont .lsb2txtcont span {
        display: contents;
    }
    body .lsb2rtcont .lsb2txtcont span {
        display: contents;
    }
}
.lsb2h1 {
    margin: auto;
    text-align: center;
    color: #012060;
    font-size: var(--r22);
    font-family: "Raleway", sans-serif;
    position: relative;
}
.lsb2ltcont a {
    display: contents;
}
.lsb2rtcont a {
    display: contents;
}
.lsb2ltcont .lsb2imgcont {
    width: 25%;
    height: max-content;
    text-align: center;
    object-fit: contain;
}
.lsb2ltcont .lsb2txtcont {
    width: 88%;
    display: flex;
    margin: auto;
    padding: 1%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: var(--r22);
    margin-bottom: var(--r22);
    height: max-content;
    text-align: left;
    color: #121212;
    font-size: var(--r2102);
    font-family: "Raleway", sans-serif;
}
.lsb2ltcont .lsb2txtcont span {
    display: block;
    max-width: 60%;
}
.lsb2rtcont .lsb2imgcont {
    width: 25%;
    height: max-content;
    text-align: center;
    object-fit: contain;
}
.lsb2rtcont .lsb2txtcont {
    display: flex;
    margin: auto;
    width: 85%;
    padding: 1%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-top: var(--r22);
    margin-bottom: var(--r22);
    height: max-content;
    text-align: left;
    color: #121212;
    font-size: var(--r2102);
    font-family: "Raleway", sans-serif;
}
.lsb2rtcont .lsb2txtcont span {
    display: block;
    max-width: 60%;
}
.lsb2rtcont strong,
.lsb2ltcont strong,
.lsb2ltcont b,
.lsb2rtcont b {
    font-family: "El Messiri", sans-serif;
    font-size: var(--r2103);
    display: contents;
}
