@media only screen and (max-width: 768px) {
  body .lsb2ltcont .lsb2imgcont {
    width: 30%;
  }
  body .lsb2ltcont .lsb2txtcont {
    width: 90%;
  }
  body .lsb2rtcont .lsb2imgcont {
    width: 30%;
  }
  body .lsb2rtcont .lsb2txtcont {
    width: 90%;
  }
}
@media only screen and (max-width: 530px) {
  body .lsb2h1 {
    font-size: var(--r2104);
  }
  body .lsb2ltcont .lsb2imgcont {
    width: 45%;
    float: left;
    margin: 2%;
  }
  body .lsb2ltcont .lsb2txtcont {
    display: block;
    width: 90%;
  }
  body .lsb2rtcont .lsb2imgcont {
    margin: 2%;
    width: 45%;
    float: right;
  }
  body .lsb2rtcont .lsb2txtcont {
    display: block;
    width: 90%;
    height: max-content;
    align-items: center;
  }
  body .lsb2ltcont .lsb2txtcont span {
    display: contents;
  }
  body .lsb2rtcont .lsb2txtcont span {
    display: contents;
  }
}
@media only screen and (max-width: 400px) {
  body .lsb2h1 {
    font-size: var(--r2104);
  }
  body .lsb2ltcont .lsb2imgcont {
    width: 45%;
    float: left;
    margin: 2%;
  }
  body .lsb2ltcont .lsb2txtcont {
    display: block;
    width: 90%;
  }
  body .lsb2rtcont .lsb2imgcont {
    margin: 2%;
    width: 45%;
    float: right;
  }
  body .lsb2rtcont .lsb2txtcont {
    display: block;
    width: 90%;
    height: max-content;
    align-items: center;
  }
  body .lsb2ltcont .lsb2txtcont span {
    display: contents;
  }
  body .lsb2rtcont .lsb2txtcont span {
    display: contents;
  }
}
.lsb2h1 {
  margin: auto;
  text-align: center;
  color: #012060;
  font-size: var(--r22);
  font-family: "Raleway", sans-serif;
  position: relative;
}
.lsb2ltcont a {
  display: contents;
}
.lsb2rtcont a {
  display: contents;
}
.lsb2ltcont .lsb2imgcont {
  width: 25%;
  height: max-content;
  text-align: center;
  object-fit: contain;
}
.lsb2ltcont .lsb2txtcont {
  width: 88%;
  display: flex;
  margin: auto;
  padding: 1%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: var(--r22);
  margin-bottom: var(--r22);
  height: max-content;
  text-align: left;
  color: #121212;
  font-size: var(--r2102);
  font-family: "Raleway", sans-serif;
}
.lsb2ltcont .lsb2txtcont span {
  display: block;
  max-width: 60%;
}
.lsb2rtcont .lsb2imgcont {
  width: 25%;
  height: max-content;
  text-align: center;
  object-fit: contain;
}
.lsb2rtcont .lsb2txtcont {
  display: flex;
  margin: auto;
  width: 85%;
  padding: 1%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin-top: var(--r22);
  margin-bottom: var(--r22);
  height: max-content;
  text-align: left;
  color: #121212;
  font-size: var(--r2102);
  font-family: "Raleway", sans-serif;
}
.lsb2rtcont .lsb2txtcont span {
  display: block;
  max-width: 60%;
}
.lsb2rtcont strong,
.lsb2ltcont strong,
.lsb2ltcont b,
.lsb2rtcont b {
  font-family: "El Messiri", sans-serif;
  font-size: var(--r2103);
  display: contents;
}
