@media only screen and (max-width: 768px) {
  body .lsbaltcont .lsbaimgcont {
    width: 30%;
  }
  body .lsbaltcont .lsbatxtcont {
    width: 90%;
  }
  body .lsbartcont .lsbaimgcont {
    width: 30%;
  }
  body .lsbartcont .lsbatxtcont {
    width: 90%;
  }
}
@media only screen and (max-width: 530px) {
  body .lsbah1 {
    font-size: var(--ra104);
  }
  body .lsbaltcont .lsbaimgcont {
    width: 45%;
    float: left;
    margin: 2%;
  }
  body .lsbaltcont .lsbatxtcont {
    display: block;
    width: 90%;
  }
  body .lsbartcont .lsbaimgcont {
    margin: 2%;
    width: 45%;
    float: right;
  }
  body .lsbartcont .lsbatxtcont {
    display: block;
    width: 90%;
    height: max-content;
    align-items: center;
  }
  body .lsbaltcont .lsbatxtcont span {
    display: contents;
  }
  body .lsbartcont .lsbatxtcont span {
    display: contents;
  }
}
@media only screen and (max-width: 400px) {
  body .lsbah1 {
    font-size: var(--ra104);
  }
  body .lsbaltcont .lsbaimgcont {
    width: 45%;
    float: left;
    margin: 2%;
  }
  body .lsbaltcont .lsbatxtcont {
    display: block;
    width: 90%;
  }
  body .lsbartcont .lsbaimgcont {
    margin: 2%;
    width: 45%;
    float: right;
  }
  body .lsbartcont .lsbatxtcont {
    display: block;
    width: 90%;
    height: max-content;
    align-items: center;
  }
  body .lsbaltcont .lsbatxtcont span {
    display: contents;
  }
  body .lsbartcont .lsbatxtcont span {
    display: contents;
  }
}
.lsbah1 {
  margin: auto;
  text-align: center;
  color: #012060;
  font-size: var(--ra2);
  font-family: "Raleway", sans-serif;
  position: relative;
}
.lsbaltcont a {
  display: contents;
}
.lsbartcont a {
  display: contents;
}
.lsbaltcont .lsbaimgcont {
  width: 25%;
  height: max-content;
  text-align: center;
  object-fit: contain;
}
.lsbaltcont .lsbatxtcont {
  width: 88%;
  display: flex;
  margin: auto;
  padding: 1%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: var(--ra2);
  margin-bottom: var(--ra2);
  height: max-content;
  text-align: left;
  color: #121212;
  font-size: var(--ra102);
  font-family: "Raleway", sans-serif;
}
.lsbaltcont .lsbatxtcont span {
  display: block;
  max-width: 60%;
}
.lsbartcont .lsbaimgcont {
  width: 25%;
  height: max-content;
  text-align: center;
  object-fit: contain;
}
.lsbartcont .lsbatxtcont {
  display: flex;
  margin: auto;
  width: 85%;
  padding: 1%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin-top: var(--ra2);
  margin-bottom: var(--ra2);
  height: max-content;
  text-align: left;
  color: #121212;
  font-size: var(--ra102);
  font-family: "Raleway", sans-serif;
}
.lsbartcont .lsbatxtcont span {
  display: block;
  max-width: 60%;
}
.lsbartcont strong,
.lsbaltcont strong,
.lsbaltcont b,
.lsbartcont b {
  font-family: "El Messiri", sans-serif;
  font-size: var(--ra103);
  display: contents;
}
.lsbagdwl {
  width: 85%;
  display: block;
  margin: auto;
}
