
@media only screen and (min-width: 2001px) {
    :root {
        --ra05: 1rem;
        --ra08: 1.6rem;
        --ra1: 2rem;
        --ra101: 2.2rem;
        --ra102: 2.4rem;
        --ra103: 2.6rem;
        --ra104: 2.8rem;
        --ra105: 3rem;
        --ra106: 3.2rem;
        --ra2: 4rem;
        --ra3: 6rem;
        --ra4: 8rem;
        --ra5: 10rem;
    }
}
@media only screen and (max-width: 2000px) {
    :root {
        --ra05: 0.75rem;
        --ra08: 1.2rem;
        --ra1: 1.5rem;
        --ra101: 1.6rem;
        --ra102: 1.7rem;
        --ra103: 1.9rem;
        --ra104: 2rem;
        --ra105: 2.2rem;
        --ra106: 2.3rem;
        --ra2: 3rem;
        --ra3: 4.5rem;
        --ra4: 6rem;
        --ra5: 7.5rem;
    }
}
@media only screen and (max-width: 1670px) {
    :root {
        --ra05: 0.625rem;
        --ra08: 1rem;
        --ra1: 1.25rem;
        --ra101: 1.3rem;
        --ra102: 1.5rem;
        --ra103: 1.6rem;
        --ra104: 1.7rem;
        --ra105: 1.8rem;
        --ra106: 1.9rem;
        --ra2: 2.5rem;
        --ra3: 3.75rem;
        --ra4: 5rem;
        --ra5: 6.25rem;
    }
}
@media only screen and (max-width: 1440px) {
    :root {
        --ra05: 0.5rem;
        --ra08: 0.8rem;
        --ra1: 1rem;
        --ra101: 1.1rem;
        --ra102: 1.2rem;
        --ra103: 1.3rem;
        --ra104: 1.4rem;
        --ra105: 1.5rem;
        --ra106: 1.6rem;
        --ra2: 2rem;
        --ra3: 3rem;
        --ra4: 4rem;
        --ra5: 5rem;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        --ra05: 0.35rem;
        --ra08: 0.56rem;
        --ra1: 0.7rem;
        --ra101: 0.8rem;
        --ra102: 0.9rem;
        --ra103: 1rem;
        --ra104: 1.2rem;
        --ra105: 1.3rem;
        --ra106: 1.4rem;
        --ra2: 1.4rem;
        --ra3: 2.1rem;
        --ra4: 2.8rem;
        --ra5: 3.5rem;
    }
}
@media only screen and (max-width: 768px) {
    :root {
        --ra05: 0.25rem;
        --ra08: 0.4rem;
        --ra1: 0.5rem;
        --ra101: 0.55rem;
        --ra102: 0.8rem;
        --ra103: 0.85rem;
        --ra104: 0.7rem;
        --ra105: 0.75rem;
        --ra106: 0.8rem;
        --ra2: 1rem;
        --ra3: 1.5rem;
        --ra4: 2rem;
        --ra5: 2.5rem;
    }
    body .lsbaltcont .lsbaimgcont {
        width: 30%;
    }
    body .lsbaltcont .lsbatxtcont {
        width: 90%;
    }
    body .lsbartcont .lsbaimgcont {
        width: 30%;
    }
    body .lsbartcont .lsbatxtcont {
        width: 90%;
    }
}
@media only screen and (max-width: 530px) {
    :root {
        --ra05: 0.25rem;
        --ra08: 0.4rem;
        --ra1: 0.5rem;
        --ra101: 0.8rem;
        --ra102: 0.9rem;
        --ra103: 1rem;
        --ra104: 1.2rem;
        --ra105: 1.3rem;
        --ra106: 1.4rem;
        --ra2: 1.4rem;
        --ra3: 1.5rem;
        --ra4: 2rem;
        --ra5: 2.5rem;
    }
    body .lsbah1 {
        font-size: var(--ra104);
    }
    body .lsbaltcont .lsbaimgcont {
        width: 45%;
        float: left;
        margin: 2%;
    }
    body .lsbaltcont .lsbatxtcont {
        display: block;
        width: 90%;
    }
    body .lsbartcont .lsbaimgcont {
        margin: 2%;
        width: 45%;
        float: right;
    }
    body .lsbartcont .lsbatxtcont {
        display: block;
        width: 90%;
        height: max-content;
        align-items: center;
    }
    body .lsbaltcont .lsbatxtcont span {
        display: contents;
    }
    body .lsbartcont .lsbatxtcont span {
        display: contents;
    }
}
@media only screen and (max-width: 400px) {
    :root {
        --ra05: 0.25rem;
        --ra08: 0.4rem;
        --ra1: 0.5rem;
        --ra101: 0.8rem;
        --ra102: 0.9rem;
        --ra103: 1rem;
        --ra104: 1.2rem;
        --ra105: 1.3rem;
        --ra106: 1.4rem;
        --ra2: 1.4rem;
        --ra3: 1.5rem;
        --ra4: 2rem;
        --ra5: 2.5rem;
    }
    body .lsbah1 {
        font-size: var(--ra104);
    }
    body .lsbaltcont .lsbaimgcont {
        width: 45%;
        float: left;
        margin: 2%;
    }
    body .lsbaltcont .lsbatxtcont {
        display: block;
        width: 90%;
    }
    body .lsbartcont .lsbaimgcont {
        margin: 2%;
        width: 45%;
        float: right;
    }
    body .lsbartcont .lsbatxtcont {
        display: block;
        width: 90%;
        height: max-content;
        align-items: center;
    }
    body .lsbaltcont .lsbatxtcont span {
        display: contents;
    }
    body .lsbartcont .lsbatxtcont span {
        display: contents;
    }
}
.lsbah1 {
    margin: auto;
    text-align: center;
    color: #012060;
    font-size: var(--ra2);
    font-family: "Raleway", sans-serif;
    position: relative;
}
.lsbaltcont a {
    display: contents;
}
.lsbartcont a {
    display: contents;
}
.lsbaltcont .lsbaimgcont {
    width: 25%;
    height: max-content;
    text-align: center;
    object-fit: contain;
}
.lsbaltcont .lsbatxtcont {
    width: 88%;
    display: flex;
    margin: auto;
    padding: 1%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: var(--ra2);
    margin-bottom: var(--ra2);
    height: max-content;
    text-align: left;
    color: #121212;
    font-size: var(--ra102);
    font-family: "Raleway", sans-serif;
}
.lsbaltcont .lsbatxtcont span {
    display: block;
    max-width: 60%;
}
.lsbartcont .lsbaimgcont {
    width: 25%;
    height: max-content;
    text-align: center;
    object-fit: contain;
}
.lsbartcont .lsbatxtcont {
    display: flex;
    margin: auto;
    width: 85%;
    padding: 1%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-top: var(--ra2);
    margin-bottom: var(--ra2);
    height: max-content;
    text-align: left;
    color: #121212;
    font-size: var(--ra102);
    font-family: "Raleway", sans-serif;
}
.lsbartcont .lsbatxtcont span {
    display: block;
    max-width: 60%;
}
.lsbartcont strong,
.lsbaltcont strong,
.lsbaltcont b,
.lsbartcont b {
    font-family: "El Messiri", sans-serif;
    font-size: var(--ra103);
    display: contents;
}
.lsbagdwl {
    width: 85%;
    display: block;
    margin: auto;
}