@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri&display=swap");

@media only screen and (min-width: 2001px) {
    :root {
        --lpr05: 1rem;
        --lpr08: 1.6rem;
        --lpr1: 2rem;
        --lpr101: 2.2rem;
        --lpr102: 2.4rem;
        --lpr103: 2.6rem;
        --lpr104: 2.8rem;
        --lpr105: 3rem;
        --lpr106: 3.2rem;
        --lpr2: 4rem;
        --lpr3: 6rem;
        --lpr4: 8rem;
        --lpr5: 10rem;
    }
}
@media only screen and (max-width: 2000px) {
    :root {
        --lpr05: 0.75rem;
        --lpr08: 1.2rem;
        --lpr1: 1.5rem;
        --lpr101: 1.6rem;
        --lpr102: 1.7rem;
        --lpr103: 1.9rem;
        --lpr104: 2rem;
        --lpr105: 2.2rem;
        --lpr106: 2.3rem;
        --lpr2: 3rem;
        --lpr3: 4.5rem;
        --lpr4: 6rem;
        --lpr5: 7.5rem;
    }
}
@media only screen and (max-width: 1670px) {
    :root {
        --lpr05: 0.625rem;
        --lpr08: 1rem;
        --lpr1: 1.25rem;
        --lpr101: 1.3rem;
        --lpr102: 1.5rem;
        --lpr103: 1.6rem;
        --lpr104: 1.7rem;
        --lpr105: 1.8rem;
        --lpr106: 1.9rem;
        --lpr2: 2.5rem;
        --lpr3: 3.75rem;
        --lpr4: 5rem;
        --lpr5: 6.25rem;
    }
}
@media only screen and (max-width: 1440px) {
    :root {
        --lpr05: 0.5rem;
        --lpr08: 0.8rem;
        --lpr1: 1rem;
        --lpr101: 1.1rem;
        --lpr102: 1.2rem;
        --lpr103: 1.3rem;
        --lpr104: 1.4rem;
        --lpr105: 1.5rem;
        --lpr106: 1.6rem;
        --lpr2: 2rem;
        --lpr3: 3rem;
        --lpr4: 4rem;
        --lpr5: 5rem;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        --lpr05: 0.35rem;
        --lpr08: 0.56rem;
        --lpr1: 0.7rem;
        --lpr101: 0.8rem;
        --lpr102: 0.9rem;
        --lpr103: 1rem;
        --lpr104: 1.2rem;
        --lpr105: 1.3rem;
        --lpr106: 1.4rem;
        --lpr2: 1.4rem;
        --lpr3: 2.1rem;
        --lpr4: 2.8rem;
        --lpr5: 3.5rem;
    }
}
@media only screen and (max-width: 768px) {
    :root {
        --lpr05: 0.25rem;
        --lpr08: 0.4rem;
        --lpr1: 0.5rem;
        --lpr101: 0.55rem;
        --lpr102: 0.8rem;
        --lpr103: 0.85rem;
        --lpr104: 0.7rem;
        --lpr105: 0.75rem;
        --lpr106: 0.8rem;
        --lpr2: 1rem;
        --lpr3: 1.5rem;
        --lpr4: 2rem;
        --lpr5: 2.5rem;
    }
    body .lsbproltcont .lsbproimgcont {
        width: 30%;
    }
    body .lsbproltcont .lsbprotxtcont {
        width: 90%;
    }
    body .lsbprortcont .lsbproimgcont {
        width: 30%;
    }
    body .lsbprortcont .lsbprotxtcont {
        width: 90%;
    }
}
@media only screen and (max-width: 530px) {
    :root {
        --lpr05: 0.25rem;
        --lpr08: 0.4rem;
        --lpr1: 0.5rem;
        --lpr101: 0.8rem;
        --lpr102: 0.9rem;
        --lpr103: 1rem;
        --lpr104: 1.2rem;
        --lpr105: 1.3rem;
        --lpr106: 1.4rem;
        --lpr2: 1.4rem;
        --lpr3: 1.5rem;
        --lpr4: 2rem;
        --lpr5: 2.5rem;
    }
    body .lsbproh1 {
        font-size: var(--lpr104);
    }
    body .lsbproltcont .lsbproimgcont {
        width: 45%;
        float: left;
        margin: 2%;
    }
    body .lsbproltcont .lsbprotxtcont {
        display: block;
        width: 90%;
    }
    body .lsbprortcont .lsbproimgcont {
        margin: 2%;
        width: 45%;
        float: right;
    }
    body .lsbprortcont .lsbprotxtcont {
        display: block;
        width: 90%;
        height: max-content;
        align-items: center;
    }
    body .lsbproltcont .lsbprotxtcont span {
        display: contents;
    }
    body .lsbprortcont .lsbprotxtcont span {
        display: contents;
    }
}
@media only screen and (max-width: 400px) {
    :root {
        --lpr05: 0.25rem;
        --lpr08: 0.4rem;
        --lpr1: 0.5rem;
        --lpr101: 0.8rem;
        --lpr102: 0.9rem;
        --lpr103: 1rem;
        --lpr104: 1.2rem;
        --lpr105: 1.3rem;
        --lpr106: 1.4rem;
        --lpr2: 1.4rem;
        --lpr3: 1.5rem;
        --lpr4: 2rem;
        --lpr5: 2.5rem;
    }
    body .lsbproh1 {
        font-size: var(--lpr104);
    }
    body .lsbproltcont .lsbproimgcont {
        width: 45%;
        float: left;
        margin: 2%;
    }
    body .lsbproltcont .lsbprotxtcont {
        display: block;
        width: 90%;
    }
    body .lsbprortcont .lsbproimgcont {
        margin: 2%;
        width: 45%;
        float: right;
    }
    body .lsbprortcont .lsbprotxtcont {
        display: block;
        width: 90%;
        height: max-content;
        align-items: center;
    }
    body .lsbproltcont .lsbprotxtcont span {
        display: contents;
    }
    body .lsbprortcont .lsbprotxtcont span {
        display: contents;
    }
}
.lsbproh1 {
    margin: auto;
    text-align: center;
    color: #012060;
    font-size: var(--lpr2);
    font-family: "Raleway", sans-serif;
    position: relative;
}
.lsbproltcont a {
    display: contents;
}
.lsbprortcont a {
    display: contents;
}
.lsbproltcont .lsbproimgcont {
    width: 25%;
    height: max-content;
    text-align: center;
    object-fit: contain;
}
.lsbproltcont .lsbprotxtcont {
    width: 88%;
    display: flex;
    margin: auto;
    padding: 1%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: var(--lpr2);
    margin-bottom: var(--lpr2);
    height: max-content;
    text-align: left;
    color: #121212;
    font-size: var(--lpr102);
    font-family: "Raleway", sans-serif;
}
.lsbproltcont .lsbprotxtcont span {
    display: block;
    max-width: 60%;
}
.lsbprortcont .lsbproimgcont {
    width: 25%;
    height: max-content;
    text-align: center;
    object-fit: contain;
}
.lsbprortcont .lsbprotxtcont {
    display: flex;
    margin: auto;
    width: 85%;
    padding: 1%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-top: var(--lpr2);
    margin-bottom: var(--lpr2);
    height: max-content;
    text-align: left;
    color: #121212;
    font-size: var(--lpr102);
    font-family: "Raleway", sans-serif;
}
.lsbprortcont .lsbprotxtcont span {
    display: block;
    max-width: 60%;
}
.lsbprortcont strong,
.lsbproltcont strong,
.lsbproltcont b,
.lsbprortcont b {
    font-family: "El Messiri", sans-serif;
    font-size: var(--lpr103);
    display: contents;
}
