@media only screen and (max-width: 768px) {
    body .lsbproltcont .lsbproimgcont {
        width: 30%;
    }
    body .lsbproltcont .lsbprotxtcont {
        width: 90%;
    }
    body .lsbprortcont .lsbproimgcont {
        width: 30%;
    }
    body .lsbprortcont .lsbprotxtcont {
        width: 90%;
    }
}
@media only screen and (max-width: 530px) {
    body .lsbproh1 {
        font-size: var(--r104);
    }
    body .lsbproltcont .lsbproimgcont {
        width: 45%;
        float: left;
        margin: 2%;
    }
    body .lsbproltcont .lsbprotxtcont {
        display: block;
        width: 90%;
    }
    body .lsbprortcont .lsbproimgcont {
        margin: 2%;
        width: 45%;
        float: right;
    }
    body .lsbprortcont .lsbprotxtcont {
        display: block;
        width: 90%;
        height: max-content;
        align-items: center;
    }
    body .lsbproltcont .lsbprotxtcont span {
        display: contents;
    }
    body .lsbprortcont .lsbprotxtcont span {
        display: contents;
    }
}
@media only screen and (max-width: 400px) {
    body .lsbproh1 {
        font-size: var(--r104);
    }
    body .lsbproltcont .lsbproimgcont {
        width: 45%;
        float: left;
        margin: 2%;
    }
    body .lsbproltcont .lsbprotxtcont {
        display: block;
        width: 90%;
    }
    body .lsbprortcont .lsbproimgcont {
        margin: 2%;
        width: 45%;
        float: right;
    }
    body .lsbprortcont .lsbprotxtcont {
        display: block;
        width: 90%;
        height: max-content;
        align-items: center;
    }
    body .lsbproltcont .lsbprotxtcont span {
        display: contents;
    }
    body .lsbprortcont .lsbprotxtcont span {
        display: contents;
    }
}
.lsbproh1 {
    margin: auto;
    text-align: center;
    color: #012060;
    font-size: var(--r2);
    font-family: "Raleway", sans-serif;
    position: relative;
}
.lsbproltcont a {
    display: contents;
}
.lsbprortcont a {
    display: contents;
}
.lsbproltcont .lsbproimgcont {
    width: 25%;
    height: max-content;
    text-align: center;
    object-fit: contain;
}
.lsbproltcont .lsbprotxtcont {
    width: 88%;
    display: flex;
    margin: auto;
    padding: 1%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: var(--r2);
    margin-bottom: var(--r2);
    height: max-content;
    text-align: left;
    color: #121212;
    font-size: var(--r102);
    font-family: "Raleway", sans-serif;
}
.lsbproltcont .lsbprotxtcont span {
    display: block;
    max-width: 60%;
}
.lsbprortcont .lsbproimgcont {
    width: 25%;
    height: max-content;
    text-align: center;
    object-fit: contain;
}
.lsbprortcont .lsbprotxtcont {
    display: flex;
    margin: auto;
    width: 85%;
    padding: 1%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-top: var(--r2);
    margin-bottom: var(--r2);
    height: max-content;
    text-align: left;
    color: #121212;
    font-size: var(--r102);
    font-family: "Raleway", sans-serif;
}
.lsbprortcont .lsbprotxtcont span {
    display: block;
    max-width: 60%;
}
.lsbprortcont strong,
.lsbproltcont strong,
.lsbproltcont b,
.lsbprortcont b {
    font-family: "El Messiri", sans-serif;
    font-size: var(--r103);
    display: contents;
}
