@media only screen and (max-width: 768px) {
  body .productltcont .productimgcont {
    width: 30%;
  }
  body .productltcont .producttxtcont {
    width: 90%;
  }
  body .productrtcont .productimgcont {
    width: 30%;
  }
  body .productrtcont .producttxtcont {
    width: 90%;
  }
}
@media only screen and (max-width: 530px) {
  body .producth1 {
    font-size: var(--r104);
  }
  body .productltcont .productimgcont {
    width: 45%;
    float: left;
    margin: 2%;
  }
  body .productltcont .producttxtcont {
    display: block;
    width: 90%;
  }
  body .productrtcont .productimgcont {
    margin: 2%;
    width: 45%;
    float: right;
  }
  body .productrtcont .producttxtcont {
    display: block;
    width: 90%;
    height: max-content;
    align-items: center;
  }
  body .productltcont .producttxtcont span {
    display: contents;
  }
  body .productrtcont .producttxtcont span {
    display: contents;
  }
}
@media only screen and (max-width: 400px) {
  body .producth1 {
    font-size: var(--r104);
  }
  body .productltcont .productimgcont {
    width: 45%;
    float: left;
    margin: 2%;
  }
  body .productltcont .producttxtcont {
    display: block;
    width: 90%;
  }
  body .productrtcont .productimgcont {
    margin: 2%;
    width: 45%;
    float: right;
  }
  body .productrtcont .producttxtcont {
    display: block;
    width: 90%;
    height: max-content;
    align-items: center;
  }
  body .productltcont .producttxtcont span {
    display: contents;
  }
  body .productrtcont .producttxtcont span {
    display: contents;
  }
}
.producth1 {
  margin: auto;
  text-align: center;
  color: #012060;
  font-size: var(--r2);
  font-family: "Raleway", sans-serif;
  position: relative;
}
.productltcont a {
  display: contents;
}
.productrtcont a {
  display: contents;
}
.productltcont .productimgcont {
  width: 25%;
  height: max-content;
  text-align: center;
  object-fit: contain;
}
.productltcont .producttxtcont {
  width: 88%;
  display: flex;
  margin: auto;
  padding: 1%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: var(--r2);
  margin-bottom: var(--r2);
  height: max-content;
  text-align: left;
  color: #121212;
  font-size: var(--r102);
  font-family: "Raleway", sans-serif;
}
.productltcont .producttxtcont span {
  display: block;
  max-width: 60%;
}
.productrtcont .productimgcont {
  width: 25%;
  height: max-content;
  text-align: center;
  object-fit: contain;
}
.productrtcont .producttxtcont {
  display: flex;
  margin: auto;
  width: 85%;
  padding: 1%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  margin-top: var(--r2);
  margin-bottom: var(--r2);
  height: max-content;
  text-align: left;
  color: #121212;
  font-size: var(--r102);
  font-family: "Raleway", sans-serif;
}
.productrtcont .producttxtcont span {
  display: block;
  max-width: 60%;
}
.productrtcont strong,
.productltcont strong,
.productltcont b,
.productrtcont b {
  font-family: "El Messiri", sans-serif;
  font-size: var(--r103);
  display: contents;
}
