@media only screen and (max-width: 530px) {
  body .project1project {
    padding: var(--r05) 0;
    border-radius: 2%;
  }
  body .project1imgcont {
    width: 100%;
  }
  body .project1mainimg {
    width: 60%;
    display: block;
    margin: auto;
  }
  body .project1datacont h2 {
    text-align: center;
    display: block;
    margin: auto;
  }
  body .project1datacont {
    width: 100%;
  }
}

.project1container h1 {
  font-size: var(--r3);
  color: #012060;
  font-weight: bold;
  font-family: "ubuntu", sans-serif;
  display: block;
  margin: var(--r2) auto;
  z-index: 30;
  width: 80%;
  text-align: center;
}

.project1container {
  display: block;
  margin: auto;
  width: 90%;
}
.project1project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin: var(--r2) auto;
  border: solid #012060;
  border-top-right-radius: 2%;
  border-top-left-radius: 2%;
  padding: var(--r08);
}

.project1imgcont {
  width: 40%;
}
.project1mainimg {
  width: 100%;
}
.project1datacont {
  width: 50%;
}
.project1datacont h2 {
  font-size: var(--r2);
  color: #00395f;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin: auto;
  z-index: 30;
  text-align: center;
}

.project1datacont ul {
  list-style-type: none;
  display: block;
  margin-right: auto;
  width: fit-content;
}
.project1datacont li {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: var(--r104);
  font-family: "Raleway", sans-serif;
  color: #00395f;
  padding: var(--r08) 0;
}

.project1datacont li img {
  width: var(--r3);
  vertical-align: middle;
  margin: var(--r05);
}
