@media only screen and (min-width: 2001px) {
  body .blogbanw {
    height: 41rem;
  }
  body .blogvid img {
    height: 41rem;
  }
}
@media only screen and (max-width: 2000px) {
  body .blogbanw {
    height: 36rem;
  }
  body .blogvid img {
    height: 36rem;
  }
}
@media only screen and (max-width: 1670px) {
  body .blogbanw {
    height: 33rem;
  }
  body .blogvid img {
    height: 33rem;
  }
}
@media only screen and (max-width: 1440px) {
  body .blogbanw {
    height: 28rem;
  }
  body .blogvid img {
    height: 28rem;
  }
}
@media only screen and (max-width: 1024px) {
  body .blogbanw {
    height: 25rem;
  }
  body .blogvid img {
    height: 25rem;
  }
}
@media only screen and (max-width: 768px) {
  body .blogbanw {
    height: 19rem;
  }
  body .blogvid img {
    height: 19rem;
  }
}
@media only screen and (max-width: 530px) {
  body .blogbanw {
    height: 14rem;
  }
  body .blogvid img {
    height: 14rem;
  }
}
@media only screen and (max-width: 400px) {
  body .blogbanw {
    height: 11.3rem;
  }
  body .blogvid img {
    height: 11.3rem;
  }
}

.blogbanw {
  position: relative;
  z-index: 29;
}
.blogvid {
  display: block;
  width: 100%;
  position: relative;
  z-index: 28;
}
.blogvid img {
  position: absolute;
  width: 100%;
  z-index: 26;
}
.blogh1 {
  font-size: var(--r3);
  color: white;
  font-weight: bold;
  font-family: "ubuntu", sans-serif;
  display: block;
  margin: auto;
  z-index: 30;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
