@media only screen and (min-width: 2001px) {
  body .contbanw {
    height: 41rem;
  }
  body .contvid img {
    height: 41rem;
  }
}
@media only screen and (max-width: 2000px) {
  body .contbanw {
    height: 36rem;
  }
  body .contvid img {
    height: 36rem;
  }
}
@media only screen and (max-width: 1670px) {
  body .contbanw {
    height: 33rem;
  }
  body .contvid img {
    height: 33rem;
  }
}
@media only screen and (max-width: 1440px) {
  body .contbanw {
    height: 28rem;
  }
  body .contvid img {
    height: 28rem;
  }
}
@media only screen and (max-width: 1024px) {
  body .contbanw {
    height: 25rem;
  }
  body .contvid img {
    height: 25rem;
  }
}
@media only screen and (max-width: 768px) {
  body .contbanw {
    height: 19rem;
  }
  body .contvid img {
    height: 19rem;
  }
}
@media only screen and (max-width: 530px) {
  body .contbanw {
    height: 14rem;
  }
  body .contvid img {
    height: 14rem;
  }
}
@media only screen and (max-width: 400px) {
  body .contbanw {
    height: 11.3rem;
  }
  body .contvid img {
    height: 11.3rem;
  }
}

.contbanw {
  position: relative;
  z-index: 29;
}
.contvid {
  display: block;
  width: 100%;
  position: relative;
  z-index: 28;
}
.contvid img {
  position: absolute;
  width: 100%;
  z-index: 26;
}
.conth1 {
  font-size: var(--r3);
  color: white;
  font-weight: bold;
  font-family: "ubuntu", sans-serif;
  display: block;
  margin: auto;
  z-index: 30;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.conth1p {
  font-size: var(--r103);
  color: rgb(230, 230, 230);
  font-weight: bold;
  font-family: "ubuntu", sans-serif;
  display: block;
  margin: auto;
  z-index: 30;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.conth1p pre {
  margin: 0;
}
