@media only screen and (max-width: 768px) {
  body .nvbr {
    height: calc(var(--r4) * 1.5);
    background: #00395f;
  }
  body .nvbrcont {
    height: calc(var(--r4) * 1.5);
  }
  body #lcc,
  body #edc {
    display: none;
  }
  body #vbtn,
  body #hbtn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: calc(var(--r4) * 1.5);
    margin: 0 var(--r1);
  }
  body #vbtn {
    width: max-content;
  }
  body #hbtn .lp {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  body #hbtn .lp > p {
    display: contents;
  }
  body .mImg {
    width: calc(var(--r4) * 1.5);
  }
  body .nvbrul1 {
    background-color: #00395f;
    overflow: hidden;
    width: 0vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    opacity: 0;
  }
  body .l {
    margin: var(--r1) auto;
    width: 100%;
    display: block;
  }
  body .lp {
    font-size: var(--r2);
    text-align: left;
    padding: var(--r2) var(--r105);
  }
}
@media only screen and (min-width: 769px) {
body #vbtn,
body #hbtn {
  display: none;
}
}
.nvbrcont {
  position: relative;
}
.nvbr {
  width: 100%;
  background: radial-gradient(rgba(44, 44, 44, 0.5), rgb(128, 128, 128));
  position: fixed;
  top: 0;
  z-index: 31;
  height: var(--r4);
  overflow: visible;
}
.logop {
  border: 0;
  cursor: pointer;
}
.logop > p {
  display: inline;
  vertical-align: bottom;
}
.nvbrlogo {
  list-style-type: none;
  width: fit-content;
  position: absolute;
  top: 0%;
}
#lcc.nvbrlogo {
  padding: var(--r08);
  left: 2%;
}
#edc.nvbrlogo {
  padding: calc(var(--r05) * 0.5);
  right: 2%;
}
.logoimg {
  display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
#imgch.logoimg {
  width: calc(var(--r5) * 2);
}
#edt.logoimg {
  width: calc(var(--r5) * 1.5);
}
#imgch.replacelogoimg {
  width: calc(var(--r5) * 3);
}
#edt.replacelogoimg {
  width: var(--r4);
}
.replacelogoimg {
  display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}
.nvbrul1 {
  list-style-type: none;
  display: block;
  width: fit-content;
  margin: auto;
  padding: 0;
}
.l {
  margin: auto;
  width: fit-content;
  display: inline-block;
}
.lp {
  font-size: var(--r101);
  padding: var(--r08);
  border: 0;
  position: relative;
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
}
.lp > p {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  color: white;
  display: inline;
  vertical-align: sub;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 500;
}
.lp > img {
  z-index: -1;
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition-property: height;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  color: #483d8b;
}
.l:hover .lp > p {
  color: #00395f;
}
.l:hover .lp > img {
  height: 100%;
  opacity: 1;
}
.prodmm {
  font-size: var(--r104);
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 0;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  color: white;
  background-color: rgba(67, 102, 134, 0.9);
}
.prodh {
  width: 50%;
}
.prodh a {
  display: block;
  margin: var(--r05);
  margin-left: var(--r05);
  text-decoration: none;
  color: white;
}
.prodh h2 {
  display: block;
  margin: var(--r05);
  margin-left: var(--r05);
  border-bottom: 1px solid whitesmoke;
  width: fit-content;
  font-size: var(--r104);
  font-weight: normal;
}
.prodh a:hover {
  cursor: pointer;
  color: #00395f;
}
.prodh strong {
  opacity: 0;
}
.prodh h1 {
  display: block;
  margin-right: auto;
  text-align: left;
  margin: var(--r05);
  border-bottom: 1px solid whitesmoke;
  width: 70%;
  font-size: var(--r105);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
}

.projmm {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 0;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  font-size: var(--r104);
  color: white;
  background-color: rgba(67, 102, 134, 0.9);
}
.projh {
  width: 33%;
}
.projh ul {
  display: block;
  margin: auto;
  width: 100%;
  list-style-type: none;
  text-decoration: none;
}
.projh a {
  color: white;
  display: block;
  width: max-content;
  max-width: fit-content;
  margin-right: auto;
  text-align: left;
  padding: var(--r05);
}
.projh a:hover {
  cursor: pointer;
  color: #00395f;
}
.projmm h1 {
  display: block;
  margin-right: auto;
  text-align: center;
  margin: var(--r05);
  border-bottom: 1px solid whitesmoke;
  width: 90%;
  font-size: var(--r105);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
}
.servmm {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 0;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  font-size: var(--r104);
  color: white;
  background-color: rgba(67, 102, 134, 0.9);
  z-index: 50;
}
.servh {
  width: 33%;
}
.servh a {
  text-align: center;
  display: block;
  margin: var(--r05);
  margin-left: var(--r05);
}
.servh a:hover {
  cursor: pointer;
  color: #00395f;
}
.servh img {
  display: block;
  margin: auto;
  padding: var(--r05);
  width: var(--r4);
  height: var(--r4);
}
