@media only screen and (max-width: 768px) {
}
/* @media only screen and (max-width: 630px) {
  body .replacelogoimg {
    width: calc(var(--r5) * 2.2);
  }
} */
@media only screen and (max-width: 530px) {
  body .lp {
    padding: var(--r08);
    font-size: var(--r2);
  }
  body .lp > p {
    vertical-align: middle;
  }
  body .rp {
    display: none;
  }
  body .logop {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  body .lp {
    padding: var(--r05);
    font-size: var(--r101);
  }
  body .lp > p {
    vertical-align: middle;
  }
}

.nvbrcont {
  position: relative;
}
.nvbr {
  width: 100%;
  background: radial-gradient(rgba(44, 44, 44, 0.5), rgb(128, 128, 128));
  position: fixed;
  top: 0;
  z-index: 31;
  height: var(--r4);
  overflow: visible;
}
.nvbrul1 {
  list-style-type: none;
  display: block;
  width: fit-content;
  margin: auto;
  padding: 0;
}
.logop {
  border: 0;
  cursor: pointer;
}
.logop > p {
  display: inline;
  vertical-align: bottom;
}
.nvbrlogo {
  list-style-type: none;
  width: fit-content;
  border-radius: 7%;
  position: absolute;
  top: 0%;
}
#lcc.nvbrlogo {
  padding: var(--r08);
  left: 2%;
}
#edc.nvbrlogo {
  padding: calc(var(--r05) * 0.5);
  right: 2%;
}
.logoimg {
  display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
#imgch.logoimg {
  width: calc(var(--r5) * 2);
}
#edt.logoimg {
  width: calc(var(--r5) * 1.5);
}
#imgch.replacelogoimg {
  width: calc(var(--r5) * 3);
}
#edt.replacelogoimg {
  width: var(--r4);
}
.replacelogoimg {
  display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}
.l {
  margin: auto;
  width: fit-content;
  display: inline-block;
  border-radius: 7%;
}
.lp {
  padding: var(--r08);
  font-size: var(--r101);
  border: 0;
  position: relative;
  border-radius: 7%;
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
}
.lp > p {
  border-radius: 7%;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  color: white;
  display: inline;
  vertical-align: sub;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 500;
}
.lp > img {
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  z-index: -1;
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition-property: height;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  color: #483d8b;
}
.l:hover .lp > p {
  color: black;
}
.l:hover .lp > img {
  height: 100%;
  opacity: 1;
}
.prodmm {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 0;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  font-size: var(--r104);
  color: white;
  background-color: rgba(67, 102, 134, 0.9);
}
.prodh {
  width: 50%;
}
.prodh a {
  display: block;
  margin: var(--r05);
  margin-left: var(--r05);
  text-decoration: none;
  color: white;
}
.prodh h2 {
  display: block;
  margin: var(--r05);
  margin-left: var(--r05);
  border-bottom: 1px solid whitesmoke;
  width: fit-content;
  font-size: var(--r104);
  font-weight: normal;
}
.prodh a:hover {
  cursor: pointer;
  color: #00395f;
}
.prodh strong {
  opacity: 0;
}
.prodh h1 {
  display: block;
  margin-right: auto;
  text-align: left;
  margin: var(--r05);
  border-bottom: 1px solid whitesmoke;
  width: 70%;
  font-size: var(--r105);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
}

.projmm {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 0;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  font-size: var(--r104);
  color: white;
  background-color: rgba(67, 102, 134, 0.9);
}
.projh {
  width: 33%;
}
.projh ul {
  display: block;
  margin: auto;
  width: 100%;
  list-style-type: none;
  text-decoration: none;
}
.projh a {
  color: white;
  display: block;
  width: max-content;
  max-width: fit-content;
  margin-right: auto;
  text-align: left;
  padding: var(--r05);
}
.projh a:hover {
  cursor: pointer;
  color: #00395f;
}
.projmm h1 {
  display: block;
  margin-right: auto;
  text-align: center;
  margin: var(--r05);
  border-bottom: 1px solid whitesmoke;
  width: 90%;
  font-size: var(--r105);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
}
.servmm {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 0;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translateX(-50%);
  width: 60vw;
  font-size: var(--r104);
  color: white;
  background-color: rgba(67, 102, 134, 0.9);
  z-index: 50;
}
.servh {
  width: 33%;
}
.servh a {
  text-align: center;
  display: block;
  margin: var(--r05);
  margin-left: var(--r05);
}
.servh a:hover {
  cursor: pointer;
  color: #00395f;
}
.servh img {
  display: block;
  margin: auto;
  padding: var(--r05);
  width: var(--r4);
  height: var(--r4);
}
