@media only screen and (min-width: 2001px) {
    :root {
        --r05: 1rem;
        --r08: 1.6rem;
        --r1: 2rem;
        --r101: 2rem;
        --r102: 2.4rem;
        --r103: 2.6rem;
        --r104: 2.8rem;
        --r105: 3rem;
        --r106: 3.2rem;
        --r2: 4rem;
        --r3: 6rem;
        --r4: 8rem;
        --r5: 7rem;
    }
}
@media only screen and (max-width: 2000px) {
    :root {
        --r05: 0.75rem;
        --r08: 1.2rem;
        --r1: 1.5rem;
        --r101: 1.6rem;
        --r102: 1.7rem;
        --r103: 1.9rem;
        --r104: 2rem;
        --r105: 2.2rem;
        --r106: 2.3rem;
        --r2: 3rem;
        --r3: 4.5rem;
        --r4: 6rem;
        --r5: 6.2rem;
    }
}
@media only screen and (max-width: 1670px) {
    :root {
        --r05: 0.625rem;
        --r08: 1rem;
        --r1: 1.25rem;
        --r101: 1.3rem;
        --r102: 1.5rem;
        --r103: 1.6rem;
        --r104: 1.7rem;
        --r105: 1.8rem;
        --r106: 1.9rem;
        --r2: 2.5rem;
        --r3: 3.75rem;
        --r4: 5rem;
        --r5: 5.7rem;
    }
}
@media only screen and (max-width: 1440px) {
    :root {
        --r05: 0.5rem;
        --r08: 0.8rem;
        --r1: 1rem;
        --r101: 1.1rem;
        --r102: 1.2rem;
        --r103: 1.3rem;
        --r104: 1.4rem;
        --r105: 1.5rem;
        --r106: 1.6rem;
        --r2: 2rem;
        --r3: 3rem;
        --r4: 4rem;
        --r5: 5rem;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        --r05: 0.35rem;
        --r08: 0.56rem;
        --r1: 0.7rem;
        --r101: 0.8rem;
        --r102: 0.9rem;
        --r103: 1rem;
        --r104: 1.2rem;
        --r105: 1.3rem;
        --r106: 1.4rem;
        --r2: 1.4rem;
        --r3: 2.1rem;
        --r4: 2.8rem;
        --r5: 3.5rem;
    }
}
@media only screen and (max-width: 768px) {
    :root {
        --r05: 0.25rem;
        --r08: 0.4rem;
        --r1: 0.5rem;
        --r101: 0.7rem;
        --r102: 0.6rem;
        --r103: 0.7rem;
        --r104: 0.7rem;
        --r105: 0.75rem;
        --r106: 0.8rem;
        --r2: 1rem;
        --r3: 1.5rem;
        --r4: 2rem;
        --r5: 2.5rem;
    }
}
@media only screen and (max-width: 630px) {
    :root {
        --r05: 0.25rem;
        --r08: 0.4rem;
        --r1: 0.5rem;
        --r101: 0.6rem;
        --r102: 0.6rem;
        --r103: 0.7rem;
        --r104: 0.7rem;
        --r105: 0.75rem;
        --r106: 0.8rem;
        --r2: 1rem;
        --r3: 1.5rem;
        --r4: 2rem;
        --r5: 2.5rem;
    }
    body .replacelogoimg {
        width: calc(var(--r5) * 2.2);
    }
}
@media only screen and (max-width: 530px) {
    :root {
        --r05: 0.2rem;
        --r08: 0.3rem;
        --r1: 0.375rem;
        --r101: 0.55rem;
        --r102: 0.45rem;
        --r103: 0.48rem;
        --r104: 0.5rem;
        --r105: 0.54rem;
        --r106: 0.58rem;
        --r2: 0.7rem;
        --r3: 1rem;
        --r4: 2rem;
        --r5: 1.7rem;
    }
    body .lp {
        padding: var(--r08);
        font-size: var(--r2);
    }
    body .lp > p {
        vertical-align: middle;
    }
    body .rp {
        display: none;
    }
    body .logop {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    :root {
        --r05: 0.25rem;
        --r08: 0.3rem;
        --r1: 0.375rem;
        --r101: 0.63rem;
        --r102: 0.45rem;
        --r103: 0.48rem;
        --r104: 0.5rem;
        --r105: 0.54rem;
        --r106: 0.58rem;
        --r2: 0.7rem;
        --r3: 1rem;
        --r4: 2rem;
        --r5: 1.7rem;
    }
    body .lp {
        padding: var(--r05);
        font-size: var(--r101);
    }
    body .lp > p {
        vertical-align: middle;
    }
}

.nvbrcont {
    /* height: var(--r4); */
    position: relative;
}
.nvbr {
    width: 100%;
    background: radial-gradient(rgba(44, 44, 44, 0.5), rgb(128, 128, 128));
    position: fixed;
    top: 0;
    z-index: 31;
    height: var(--r4);
    overflow: visible;
}
.nvbrul1 {
    width: var(--r4);
    list-style-type: none;
    display: block;
    margin: auto;
    width: fit-content;
    padding: 0;
}
.nvbrlogo {
    list-style-type: none;
    width: fit-content;
    border-radius: 7%;
    position: absolute;
    top: 0%;
    left: 2%;
}
.nvbrlogo > .lp {
    border: 0;
    position: relative;
    border-radius: 7%;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
}
.logoimg {
    width: calc(var(--r5) * 2);
    display: inline;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
.logop {
    border: 0;
    position: relative;
    border-radius: 7%;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: var(--r08);
    font-size: var(--r101);
    font-family: sans-serif;
    cursor: pointer;
}
.logop > p {
    border-radius: 7%;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    color: white;
    display: block;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 500;
}
.replacelogoimg {
    width: calc(var(--r5) * 3);
    display: inline;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
.rp {
    height: var(--r2);
    border: 0;
    position: relative;
    border-radius: 7%;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding: var(--r08);
    font-size: var(--r101);
    font-family: sans-serif;
}
.rp > p {
    border-radius: 7%;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    color: white;
    display: block;
    margin: auto;
    z-index: 500;
}
.estimg {
    width: calc(var(--r5) * 1.5);
    transition: all 0.5s ease;
    vertical-align: super;
}
.replaceestimg {
    width: var(--r4);
    transition: all 0.5s ease;
    vertical-align: super;
}
.edc {
    list-style-type: none;
    width: fit-content;
    border-radius: 7%;
    position: absolute;
    right: 2%;
    top: -10%;
    cursor: none;
    text-align: center;
}
.l {
    margin: auto;
    width: fit-content;
    display: inline-block;
    border-radius: 7%;
}
.lp {
    padding: var(--r08);
    font-size: var(--r101);
    border: 0;
    position: relative;
    border-radius: 7%;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;
}
.lp > p {
    border-radius: 7%;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    color: white;
    display: inline;
    vertical-align: sub;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 500;
}
.lp > img {
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
    z-index: -1;
    width: 100%;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition-property: height;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    color: #483d8b;
}
.l:hover .lp > p {
    color: black;
}
.l:hover .lp > img {
    height: 100%;
    opacity: 1;
}
.prodmm {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 0;
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    font-size: var(--r104);
    color: white;
    background-color: rgba(67, 102, 134, 0.9);
}
.prodh {
    width: 50%;
}
.prodh a {
    display: block;
    margin: var(--r05);
    margin-left: var(--r05);
    text-decoration: none;
    color: white;
}
.prodh h2 {
    display: block;
    margin: var(--r05);
    margin-left: var(--r05);
    border-bottom: 1px solid whitesmoke;
    width: fit-content;
    font-size: var(--r104);
    font-weight: normal;
}
.prodh a:hover {
    cursor: pointer;
    color: #00395f;
}
.prodh strong {
    opacity: 0;
}
.prodh h1 {
    display: block;
    margin-right: auto;
    text-align: left;
    margin: var(--r05);
    border-bottom: 1px solid whitesmoke;
    width: 70%;
    font-size: var(--r105);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: normal;
}

.projmm {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 0;
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    font-size: var(--r104);
    color: white;
    background-color: rgba(67, 102, 134, 0.9);
}
.projh {
    width: 33%;
}
.projh ul {
    display: block;
    margin: auto;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
}
.projh a {
    color: white;
    display: block;
    width: max-content;
    max-width: fit-content;
    margin-right: auto;
    text-align: left;
    padding: var(--r05);
}
.projh a:hover {
    cursor: pointer;
    color: #00395f;
}
.projmm h1 {
    display: block;
    margin-right: auto;
    text-align: center;
    margin: var(--r05);
    border-bottom: 1px solid whitesmoke;
    width: 90%;
    font-size: var(--r105);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: normal;
}
.servmm {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 0;
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    font-size: var(--r104);
    color: white;
    background-color: rgba(67, 102, 134, 0.9);
    z-index: 50;
}
.servh {
    width: 33%;
}
.servh a {
    text-align: center;
    display: block;
    margin: var(--r05);
    margin-left: var(--r05);
}
.servh a:hover {
    cursor: pointer;
    color: #00395f;
}
.servh img {
    display: block;
    margin: auto;
    padding: var(--r05);
    width: var(--r4);
    height: var(--r4);
}
