.projbanner {
  display: block;
  width: 100%;
  margin: 0 auto var(--r2) auto;
  background-color: white;
  position: relative;
}
.projbanner > img {
  width: 100%;
  height: 100%;
}
.projText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.projText h1 {
  font-size: var(--r2);
  color: white;
  font-weight: bold;
  font-family: "ubuntu", sans-serif;
  display: block;
  margin: auto;
  z-index: 30;
  width: 80%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
