@media only screen and (min-width: 2001px) {
  body .vidbanw {
    height: 41rem;
  }
  body .vidvid video {
    height: 41rem;
  }
  body .vidvid img {
    height: 41rem;
  }
}
@media only screen and (max-width: 2000px) {
  body .vidbanw {
    height: 36rem;
  }
  body .vidvid video {
    height: 36rem;
  }
  body .vidvid img {
    height: 36rem;
  }
}
@media only screen and (max-width: 1670px) {
  body .vidbanw {
    height: 33rem;
  }
  body .vidvid video {
    height: 33rem;
  }
  body .vidvid img {
    height: 33rem;
  }
}
@media only screen and (max-width: 1440px) {
  body .vidbanw {
    height: 28rem;
  }
  body .vidvid video {
    height: 28rem;
  }
  body .vidvid img {
    height: 28rem;
  }
}
@media only screen and (max-width: 1024px) {
  body .vidbanw {
    height: 25rem;
  }
  body .vidvid video {
    height: 25rem;
  }
  body .vidvid img {
    height: 25rem;
  }
}
@media only screen and (max-width: 768px) {
  body .vidbanw {
    height: 19rem;
  }
  body .vidvid video {
    height: 19rem;
  }
  body .vidvid img {
    height: 19rem;
  }
}
@media only screen and (max-width: 530px) {
  body .vidbanw {
    height: 14rem;
  }
  body .vidvid video {
    height: 14rem;
  }
  body .vidvid img {
    height: 14rem;
  }
}
@media only screen and (max-width: 400px) {
  body .vidbanw {
    height: 11.3rem;
  }
  body .vidvid video {
    height: 11.3rem;
  }
  body .vidvid img {
    height: 11.3rem;
  }
}

.vidbanw {
  position: relative;
  z-index: 29;
  width: 100%;
  margin: 0 auto var(--r2) auto;
}
.vidvid {
  display: block;
  width: 100%;
  position: relative;
  z-index: 28;
}
.vidvid video {
  object-fit: cover;
  width: 100%;
  z-index: 27;
}
.vidvid img {
  position: absolute;
  width: 100%;
  z-index: 26;
}
.vidh1 {
  font-size: var(--r4);
  color: white;
  font-weight: bold;
  font-family: "ubuntu", sans-serif;
  display: block;
  margin: auto;
  z-index: 30;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
