
@media only screen and (min-width: 2001px) {
    :root {
        --r05: 1rem;
        --r08: 1.6rem;
        --r1: 2rem;
        --r101: 2.2rem;
        --r102: 2.4rem;
        --r103: 2.6rem;
        --r104: 2.8rem;
        --r105: 3rem;
        --r106: 3.2rem;
        --r2: 4rem;
        --r3: 6rem;
        --r4: 8rem;
        --r5: 10rem;
    }
    body .vidbanw {
        height: 41rem;
    }
    body .vidvid video {
        height: 41rem;
    }
    body .vidvid img {
        height: 41rem;
    }
}
@media only screen and (max-width: 2000px) {
    :root {
        --r05: 0.75rem;
        --r08: 1.2rem;
        --r1: 1.5rem;
        --r101: 1.6rem;
        --r102: 1.7rem;
        --r103: 1.9rem;
        --r104: 2rem;
        --r105: 2.2rem;
        --r106: 2.3rem;
        --r2: 3rem;
        --r3: 4.5rem;
        --r4: 6rem;
        --r5: 7.5rem;
    }
    body .vidbanw {
        height: 36rem;
    }
    body .vidvid video {
        height: 36rem;
    }
    body .vidvid img {
        height: 36rem;
    }
}
@media only screen and (max-width: 1670px) {
    :root {
        --r05: 0.625rem;
        --r08: 1rem;
        --r1: 1.25rem;
        --r101: 1.3rem;
        --r102: 1.5rem;
        --r103: 1.6rem;
        --r104: 1.7rem;
        --r105: 1.8rem;
        --r106: 1.9rem;
        --r2: 2.5rem;
        --r3: 3.75rem;
        --r4: 5rem;
        --r5: 6.25rem;
    }
    body .vidbanw {
        height: 33rem;
    }
    body .vidvid video {
        height: 33rem;
    }
    body .vidvid img {
        height: 33rem;
    }
}
@media only screen and (max-width: 1440px) {
    :root {
        --r05: 0.5rem;
        --r08: 0.8rem;
        --r1: 1rem;
        --r101: 1.1rem;
        --r102: 1.2rem;
        --r103: 1.3rem;
        --r104: 1.4rem;
        --r105: 1.5rem;
        --r106: 1.6rem;
        --r2: 2rem;
        --r3: 3rem;
        --r4: 4rem;
        --r5: 5rem;
    }
    body .vidbanw {
        height: 28rem;
    }
    body .vidvid video {
        height: 28rem;
    }
    body .vidvid img {
        height: 28rem;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        --r05: 0.35rem;
        --r08: 0.56rem;
        --r1: 0.7rem;
        --r101: 0.8rem;
        --r102: 0.9rem;
        --r103: 1rem;
        --r104: 1.2rem;
        --r105: 1.3rem;
        --r106: 1.4rem;
        --r2: 1.4rem;
        --r3: 2.1rem;
        --r4: 2.8rem;
        --r5: 3.5rem;
    }
    body .vidbanw {
        height: 25rem;
    }
    body .vidvid video {
        height: 25rem;
    }
    body .vidvid img {
        height: 25rem;
    }
}
@media only screen and (max-width: 768px) {
    :root {
        --r05: 0.25rem;
        --r08: 0.4rem;
        --r1: 0.5rem;
        --r101: 0.55rem;
        --r102: 0.6rem;
        --r103: 0.7rem;
        --r104: 0.7rem;
        --r105: 0.75rem;
        --r106: 0.8rem;
        --r2: 1rem;
        --r3: 1.5rem;
        --r4: 2rem;
        --r5: 2.5rem;
    }
    body .vidbanw {
        height: 19rem;
    }
    body .vidvid video {
        height: 19rem;
    }
    body .vidvid img {
        height: 19rem;
    }
}
@media only screen and (max-width: 530px) {
    :root {
        --r05: 0.17rem;
        --r08: 0.26rem;
        --r1: 0.33rem;
        --r101: 0.4rem;
        --r102: 0.5rem;
        --r103: 0.5rem;
        --r104: 0.5rem;
        --r105: 0.6rem;
        --r106: 0.6rem;
        --r2: 0.7rem;
        --r3: 1rem;
        --r4: 1.3rem;
        --r5: 1.65rem;
    }
    body .vidbanw {
        height: 14rem;
    }
    body .vidvid video {
        height: 14rem;
    }
    body .vidvid img {
        height: 14rem;
    }
}
@media only screen and (max-width: 400px) {
    :root {
        --r05: 0.17rem;
        --r08: 0.2rem;
        --r1: 0.33rem;
        --r101: 0.4rem;
        --r102: 0.5rem;
        --r103: 0.5rem;
        --r104: 0.5rem;
        --r105: 0.6rem;
        --r106: 0.6rem;
        --r2: 0.7rem;
        --r3: 1rem;
        --r4: 1.3rem;
        --r5: 1.65rem;
    }
    body .vidbanw {
        height: 11.3rem;
    }
    body .vidvid video {
        height: 11.3rem;
    }
    body .vidvid img {
        height: 11.3rem;
    }
}

.vidbanw {
    position: relative;
    z-index: 29;
}
.vidvid {
    display: block;
    width: 100%;
    position: relative;
    z-index: 28;
}
.vidvid video {
    object-fit: cover;
    width: 100%;
    z-index: 27;
}
.vidvid img {
    position: absolute;
    width: 100%;
    z-index: 26;
}
.vidh1 {
    font-size: var(--r4);
    color: white;
    font-weight: bold;
    font-family: "ubuntu", sans-serif;
    display: block;
    margin: auto;
    z-index: 30;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
